/*
Red = #f91c5c rgb(249, 28, 92)
Green = #87f72f rgb(135, 247, 47)
Blue = #57d5f7 rgb(87, 213, 247)
*/

* {
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

a {
	color: #57d5f7;
}
a:hover {
	color: #87f72f;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container {
	margin: 1rem 1rem 0 1rem;
}

#logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
#logo img {
	height: 5rem;
	width: 5rem;
}
#logo h1 {
	display: inline-block;
	font-size: 3.5rem;
	margin: 1rem 0 1rem 1rem;
	white-space: nowrap;
}

#email a {
	font-size: 1.5rem;
}

#intro {
	font-size: 1.3rem;
	max-width: 60rem;
	margin-top: 1rem;
}

.leftMargin {
	margin-left: 3rem;
}

#projectsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.project {
	max-width: 30rem;
	margin: 1rem;
	/* IE bug */
	min-width: 1px;
}
.project h2 {
	margin: 0;
}
.projectTitle {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
.projectTitle img {
	width: 1rem;
	height: 1rem;
	margin-right: 0.4rem;
}
.projectContent {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.projectImgLink {
	background-color:#87f72f;
	/* IE bug */
	overflow: hidden;
}
.projectImgLink img{
	width: 100%;
	display:block;
}
.projectImgLink img:hover {
	filter: opacity(70%);
}

footer {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
