/*
Red = #f91c5c rgb(249, 28, 92)
Green = #87f72f rgb(135, 247, 47)
Blue = #57d5f7 rgb(87, 213, 247)
*/

* {
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #abd0da;
}

a {
	color: #000;
}

a:hover {
	color: #87f72f
}

#container {
	display: flex;
	justify-content: center;
}

#resume {
	/* Required to make the positioning of the breadcrumb work */
	position: relative;
	background-color: #fff;
	margin: 2.5rem 2rem;
	max-width: 59rem;
	padding: 1rem 4rem 4rem 4rem;
	box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
}

#breadcrumb {
	position: absolute;
	left: 0;
	top: -2rem;
}

#formatLinks {
	position: absolute;
	right: 0;
	top: -2rem;
}

/* The header links should mostly look like normal links */
#formatLinks a {
	color: #f91c5c;
}

#formatLinks a:hover {
	color: #87f72f;
}

header {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

header img {
	height: 5rem;
	width: 5rem;
	margin: 1rem 1rem 1rem 0;
}

header h1 {
	font-size: 3.5rem;
	margin: 1rem 0;
}

header #space {
	flex: 1 1 auto;
}

.leftMargin {
	margin-left: 3rem;
}

.rightMargin {
	margin-right: 3rem;
}

#contactInfo {
	text-align: end;
}

.mainHeading {
	display: flex;
	align-items: center;
}

.mainHeading img {
	width: 1rem;
	height: 1rem;
	margin-right: 0.4rem;
}

h3:first-of-type {
	margin-top: 0;
}

.timeSpan {
	opacity: 0.5;
}

.timeSpan::before {
	content: "\00a0";
}

.lighter {
	opacity: 0.5;
}

.titles {
	margin-bottom: 1rem;
}

.project:has(+ .project) {
	margin-bottom: 1rem;
}

.project h4 {
	display: inline;
}

ul {
	padding-left: 1rem;
	list-style-type: none;
	margin: 0;
}

ul li {
	padding-left: 1.2rem;
	background-image: url(assets/greendot.svg);
	background-position: 0 0.1rem;
	background-size: 1rem 1rem;
	background-repeat: no-repeat;
	margin: 0.25rem;
}

ul li ul li {
	background-image: url(assets/bluedot.svg);
}

.educationItem {
	margin-bottom: 1rem;
}

.educationItemDescription {
	margin-left: 1rem;
}

@media print {
	* {
		/* Force background images to render when printing */
		/* Should be the standard eventually */
		print-color-adjust: exact !important;
		/* Chrome, Safari */
		-webkit-print-color-adjust: exact !important;
	}

	html,
	body {
		background-color: #fff;
	}

	#resume {
		margin: 0;
		padding: 0;
		box-shadow: none;
	}

	#breadcrumb {
		display: none;
	}

	#formatLinks {
		display: none;
	}

	header {
		margin-top: -1rem;
	}

	.pageBreak {
		break-after: page;
	}

	/* Uncomment this to remove link underline in most cases */
	/* Useful for creating a pdf intended for actual print */
	/*
	a:link { text-decoration: none; }
	a:visited { text-decoration: none; }
	a:hover { text-decoration: none; }
	a:active { text-decoration: none; }
	*/
}