/*
Red = #f91c5c rgb(249, 28, 92)
Green = #87f72f rgb(135, 247, 47)
Blue = #57d5f7 rgb(87, 213, 247)
*/

* {
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #959595;
}

a {
	color: #57d5f7;
}

#container {
	display: flex;
	justify-content: center;
}

#resume {
	background-color: #fff;
	margin: 2.5rem 2rem;
	padding: 1rem 1rem 4rem 4rem;
	box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
}

header {
	display: flex;
	align-items: center;
}
header img {
	height: 5rem;
	width: 5rem;
	margin: 3rem 1rem 1rem 0;
}
header h1 {
	font-size: 3.5rem;
	margin: 3rem 0 1rem 0;
}
header #links {
	align-self: flex-start;
	margin: 1rem;
}
header #space {
	flex: 1 1 auto;
}

.leftMargin {
	margin-left: 3rem;
}

.mainHeading {
	display: flex;
	align-items: center;
}
.mainHeading img {
	width: 1rem;
	height: 1rem;
	margin-right: 0.4rem;
}

h3:first-of-type {
  margin-top: 0;
}

.productDescription {
	margin-bottom: 1rem;
}

ul {
	padding-left: 2rem;
	list-style-type: none;
	margin-right: 2rem;
}
ul li {
	padding-left: 1.2rem;
	background-image: url(assets/greendot.svg);
	background-position: 0 0.1rem;
	background-size: 1rem 1rem;
	background-repeat: no-repeat;
	margin: 0.25rem;
}
ul li ul li {
	background-image: url(assets/bluedot.svg);
}

.educationItem {
	margin-bottom: 1rem;
}
.educationItemDescription {
	margin-left: 1rem;
}

@media print {
	#resume {
		background-color: none;
		margin: 0;
		padding: 0;
		box-shadow: none;
	}
	header {
		margin-top: -3rem;
	}
	header #links {
		display: none;
	}
	.noPageBreak {
		page-break-inside: avoid;
	}
}
